@import url('https://fonts.googleapis.com/css?family=Inter');

body {
  margin: 0px;
  padding: 0px;
  background-color: #101010;
  display: flex;
  justify-content: space-around;
  font-family: Inter;
}

#root {
  width: 1050px;
  display: flex;
  flex-direction: column;
}